@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{

    background-color: rgb(247, 247, 247);
}
/* shared css */
.flex{
    display: flex;
}

/* navbar-css */

.nav-parent{
    justify-content: space-around;
}

.nav-item{
    list-style: none;
    margin-right: 20px;
}

.menu-bar{
    display: none;
}

.nav-link{
    text-decoration: none;
    font-size: 20px;
}
.nav1{
    color: rgb(254, 163, 1);
    font-weight: 700;
}
.nav2{
    color: rgb(1, 172, 253);
    font-weight: 500;

}
.nav3{
    color: rgb(5, 212, 223);
    font-weight: 500;
}
.nav4{
    color: rgb(93, 88, 239);
    font-weight: 500;
}

.nav-btn{
    border-radius: 12px;
    border: none;
    background: rgb(254, 163, 1);
    width: 197px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
}

/* banner-related-css */

.banner-parent{
    
    justify-content: space-around;
    align-items: center;
}
.banner-heading{
    font-size: 3.5rem;
}
.hero-img{
    width: 100%;
}
.banner-description{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
}
.emp{
    color: #FEA301;
}
.vision{
   color: #01ACFD;
}
.banner-btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    width: 197px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
}
/* responsive-media */

@media screen and (max-width: 576px) {
    .menu-bar{
        display: block;
    }
    .nav-item-parent{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .scl{
        display: none;
    }
    .nav-parent{
        justify-content: space-between;
    }
    .banner-parent{
        flex-direction: column-reverse;
    }
    .banner-content-parent{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .break{
        display: none;
    }
    .banner-heading{
        font-size: 32px;
    }
    .banner-description{
        font-size: 14px;
    }
    .banner-btn{
        width: 131px;
        height: 42px;
        font-size: 16px;
    }
}